name: Acquire Unity License

on:
  workflow_dispatch:

jobs:
  activate:
    name: Get Unity Activation File
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: game-ci/unity-request-activation-file@v2
        id: getManualLicenseFile
        with:
          unityVersion: 2022.3.22f1

      - uses: actions/upload-artifact@v4
        with:
          name: Unity_Activation_File
          path: ${{ steps.getManualLicenseFile.outputs.filePath }}
